@import "tailwindcss";

@theme {
    --font-display: Poppins, sans-serif;
    --font-body: Inter, sans-serif;
    --color-primary: #3238F2;
}


body{
    font-family: Inter, sans-serif ;
}

h1,h2,h3{
    font-family: Poppins, sans-serif;
    color: rgb(31, 41, 55);
    font-weight: 700;
}